<!DOCTYPE html>
<html>
<head>
	<title>Add Job</title>
</head>
<body>
<center>
	<h1>Add Job</h1>
	<form method="POST">
		<table>
			<tr>
				<td>Company Name: </td>
				<td><input type="text" name="comName"></td>
			</tr>
			<tr>
				<td>Job Title: </td>
				<td><input type="text" name="title"></td>
			</tr>
			<tr>
				<td>Location: </td>
				<td><input type="text" name="loc"></td>
			</tr>
			<tr>
				<td>Salary: </td>
				<td><input type="text" name="sal"></td>
			</tr>
			<tr>
				<td><input type="Submit" name="submit" value="Add"></td>
			</tr>
		</table>
	</form>
	<a href="/empl">back</a>
</center>

</body>
</html>