<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
		<h1>Welcome Home! <%= user.username%></h1> 		
	</div>

	<a href="/empl/allJob"> Job details</a> |<a href="/empl/jobSearch">Search job</a> |<a href="/empl/add">Add Job</a> |
	<a href="/logout"> logout</a><br>


	Name:<%= user.name %>    <br>
	Id: <%= user.id %> <br>
	Phone: <%= user.contact %>
</body>
</html>